@model Dictionary<string, float>  
@{

    ViewData["Title"] = "Final";
}
<h1>Click to see!</h1>
<div class="well-lg">
    <div class="container-fluid">
        <div class="row">

            @foreach (var m in Model)
            {
                <div class="col-md-4">
                    <div class="circle">
                        <a href="#" class="circle-toggle text-pretty" data-toggle="popover" data-trigger="focus" data-content="@m.Value">@m.Key</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body',
                html: true
            });
            $('.popover-dismiss').popover({
                trigger: 'focus'
            })
        });
    </script>
}